flows.json
[
    {
        "id": "e7f0ff3d84f19323",
        "type": "tab",
        "label": "HealthCare system",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43035995ba2256c9",
        "type": "mqtt in",
        "z": "e7f0ff3d84f19323",
        "name": "",
        "topic": "/patientBioData/bio",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2bda202f58d9d54a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "fd6e614407b46640"
            ]
        ]
    },
    {
        "id": "45c608e4c8862aea",
        "type": "mqtt in",
        "z": "e7f0ff3d84f19323",
        "name": "",
        "topic": "/patientData/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2bda202f58d9d54a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "46b9d24108cca861"
            ]
        ]
    },
    {
        "id": "fd6e614407b46640",
        "type": "function",
        "z": "e7f0ff3d84f19323",
        "name": "Insert patient bio data in Thingworx",
        "func": "var newMsg = {};\nnewMsg.payload = msg.payload;\nnewMsg.payload.firstName = msg.payload.name;\ndelete newMsg.payload.name;\nnewMsg.thingName = \"PatientBioDataInsert\";\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "45e7d37d733c5694"
            ]
        ]
    },
    {
        "id": "f3ccfc4bda7760c4",
        "type": "REST Thing",
        "z": "e7f0ff3d84f19323",
        "name": "Patient data Thingworx publisher",
        "url": "http://212.78.1.205:8080",
        "thingname": "",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "46b9d24108cca861",
        "type": "function",
        "z": "e7f0ff3d84f19323",
        "name": "Insert patient data in Thingworx",
        "func": "var newMsg = {};\nnewMsg.payload = msg.payload;\nnewMsg.thingName = \"patient_\" + msg.payload.patientID;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "1b9bd2e2f56b5e5a",
                "f3ccfc4bda7760c4"
            ]
        ]
    },
    {
        "id": "45e7d37d733c5694",
        "type": "REST Thing",
        "z": "e7f0ff3d84f19323",
        "name": "Patient bio data Thingworx publisher",
        "url": "http://212.78.1.205:8080",
        "thingname": "",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "79ef1c29fdb43f75",
        "type": "twilio out",
        "z": "e7f0ff3d84f19323",
        "twilio": "7a85caa30779e67b",
        "twilioType": "sms",
        "url": "",
        "number": "",
        "name": "",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "e5aa247f1cbfb777",
        "type": "function",
        "z": "e7f0ff3d84f19323",
        "name": "Send alerts to patients",
        "func": "let newMsg = {};\nnewMsg.payload = msg.payload.alertName + \":\" + msg.payload.text;\nnewMsg.topic = msg.payload.phoneNumber;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "79ef1c29fdb43f75"
            ]
        ]
    },
    {
        "id": "dcc2ecb5a0c218ec",
        "type": "mqtt in",
        "z": "e7f0ff3d84f19323",
        "name": "",
        "topic": "/patientAlerts",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2bda202f58d9d54a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 420,
        "wires": [
            [
                "fd7ec44b4f78647a"
            ]
        ]
    },
    {
        "id": "c5cc75017884cfc4",
        "type": "e-mail",
        "z": "e7f0ff3d84f19323",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "mircovella12@gmail.com",
        "dname": "",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "f79247677b1129f2",
        "type": "function",
        "z": "e7f0ff3d84f19323",
        "name": "Send alerts to doctor",
        "func": "let newMsg = {};\nnewMsg.topic = msg.payload.alertName;\nnewMsg.payload = \"A patient received this message:\" + msg.payload.text + \n    \"\\n Maybe you should call \" + msg.payload.phoneNumber + \n    \" and give him/her a check!\";\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "c5cc75017884cfc4"
            ]
        ]
    },
    {
        "id": "5292c533cf190fb7",
        "type": "debug",
        "z": "e7f0ff3d84f19323",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 340,
        "wires": []
    },
    {
        "id": "fd7ec44b4f78647a",
        "type": "switch",
        "z": "e7f0ff3d84f19323",
        "name": "",
        "property": "payload.alertName",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "5292c533cf190fb7"
            ],
            [
                "e5aa247f1cbfb777",
                "f79247677b1129f2"
            ]
        ]
    },
    {
        "id": "1b9bd2e2f56b5e5a",
        "type": "debug",
        "z": "e7f0ff3d84f19323",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "1c1482f5caaa6b6d",
        "type": "inject",
        "z": "e7f0ff3d84f19323",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "thingName",
                "v": "patient_bla",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"bloodOxygen\":95,\"bloodPressure\":100,\"heartRate\":98,\"bodyTemperature\":36.7}",
        "payloadType": "json",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "807a0da6b68071a6"
            ]
        ]
    },
    {
        "id": "807a0da6b68071a6",
        "type": "debug",
        "z": "e7f0ff3d84f19323",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "2bda202f58d9d54a",
        "type": "mqtt-broker",
        "name": "IoT broker",
        "broker": "212.78.1.205",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7a85caa30779e67b",
        "type": "twilio-api",
        "name": "",
        "sid": "AC9dc7d2e091bd689dc9b1724c03a3e360",
        "from": "+19895026118"
    }
]